{% extends "base.html" %}
{% block content %}
{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    </head>

    <div class="profile-header-container">
        <div class="profile-header">
            <div class="profile-header-img" style="background-image: url({{User.profile.profile_img_path}});">
                <img src="{% static 'images/icon.webp' %}">
            </div>
            <div class="profile-header-information">
                <h1>{{User.first_name}} {{User.last_name}}</h1>
                <p>STUID: {{User.profile.student_id}} Phone: {{User.profile.phone}}</p>
                <p>{{User.profile.information}}</p>
            </div>
        </div>
    </div>
    <style>
        .profile-navbar-posts:hover {
            background-color: #E1E1E1;
        }

        .profile-navbar-edit:hover {
            background-color: #E1E1E1;
        }

        .profile-navbar-container label:hover {
            background-color: #0269d9;
        }
    </style>
    <div class="profile-navbar-container" style="text-align: unset; color: unset;">
        <input type="radio" style="visibility: hidden; position: absolute;" name="navbar-radio" id="posts" checked>
        <input type="radio" style="visibility: hidden; position: absolute;" name="navbar-radio" id="edit" 
            {% if User.id is not user.id  %}
                disabled
            {% endif %}
        >
        <label class="profile-navbar-posts" for="posts">
            <p style="text-align: center; color: #B5B5B5;">Posts</p>
        </label>
        <label class="profile-navbar-edit" for="edit">
            <p style="text-align: center; color: #B5B5B5;">Edit Profile</p>
        </label>
        <div class="profile-posts-container">
            {% if Posts is not null %}
                {% for posts in Posts %}
                    {% include "posts/components/post.html" with data=posts %}
                {% endfor %}
            {% else %}
                <div class="profile-posts-null">
                    <div>
                        <img src="{% static 'images/tumbleweed.png' %}" alt="">
                    </div>
                    <h2>You haven't post anything yet.</h2>
                </div>
            {% endif %}
        </div>
        <div class="profile-edit-container">
            <div class="profile-edit-navbar">
                <input type="radio" style="visibility: hidden; position: absolute;" name="profile-edit-radio" id="profile-information" checked>
                <input type="radio" style="visibility: hidden; position: absolute;" name="profile-edit-radio" id="change-passsword">
                <label class="label-profile-information" for="profile-information" onclick="changeComponent()">
                    <p style="text-align: center;">Profile Infomation</p>
                </label>
                <label class="label-change-passsword" for="change-passsword" onclick="changeComponent()">
                    <p style="text-align: center;">Change Password</p>
                </label>
            </div>
            <div>
                <div class="profile-edit-profile-information" id="profile-edit-profile-information">
                    <div class="profile-information-container">
                        <div class="profile-information-img">
                            <div style="background-image: url({{User.profile.profile_img_path}})" id="profile-information-img">
                                <img src="{% static 'images/icon.webp' %}">
                            </div>
                            <label for="profile-information-img-input" style="z-index: 2;">
                                Change Image
                            </label>
                            <input type="file" style="visibility: hidden; position: absolute;" id="profile-information-img-input" onchange="readURL(this)">
                        </div>
                        <div class="profile-information">
                            <div class="form-group row">
                                <label class="col-sm-4 " style="text-align: center;">First name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="fname" value="{{user.first_name}}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 " style="text-align: center;">Last name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="lname" value="{{user.last_name}}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 " style="text-align: center;">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" value="{{user.email}}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 " style="text-align: center;">Phone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="phone" value="{{User.profile.phone}}" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 "style="text-align: center;">Information</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="information" value="{{User.profile.information}}" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <small style="position: absolute; left: 0; bottom: 0; color: red; margin: 20px;" id="error-text"></small>
                    <button type="submit" class="btn btn-primary profile-information-btn" onclick="submitProfile()">Apply</button>
                </div>
                <div class="profile-edit-change-passsword" id="profile-edit-change-passsword">
                    <div class="change-passsword-container">
                        <div class="form-group row">
                            <label class="col-sm-4 " style="text-align: center;">Current Password</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="currentPass" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 " style="text-align: center;">New Password</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newPass" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 " style="text-align: center;">Confirm Password</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="confirmPass" value="">
                            </div>
                        </div>
                    </div>
                    <small style="position: absolute; left: 0; bottom: 0; color: red; margin: 20px;" id="error-text2"></small>
                    <button type="submit" class="btn btn-primary change-passsword-btn" value="{{user.username}}" onclick="changePassword(event)">Apply</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let base64Img; // This variable stores the image as base64.

        document.getElementById('profile-edit-change-passsword').style.display = "none";
        function changeComponent() {
            if (document.getElementById('profile-information').checked) {
                document.getElementById('profile-edit-profile-information').style.display = "none";
                document.getElementById('profile-edit-change-passsword').style.display = "block";
            } else {
                document.getElementById('profile-edit-profile-information').style.display = "block";
                document.getElementById('profile-edit-change-passsword').style.display = "none";
            }
        }

        function submitProfile() {
            if (document.getElementById('fname').value == "") {
                document.getElementById('error-text').innerText = "Please enter your first name";
            } else if (document.getElementById('lname').value == "") {
                document.getElementById('error-text').innerText = "Please enter your last name";
            } else if (document.getElementById('email').value == "") {
                document.getElementById('error-text').innerText = "Please enter your email name";
            } else if (document.getElementById('phone').value == "") {
                document.getElementById('error-text').innerText = "Please enter your phone name";
            } else if (document.getElementById('information').value == "") {
                document.getElementById('error-text').innerText = "Please enter your information name";
            } else {
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.put('edit_profile/'+{{user.id}}, {
                    "first_name": document.getElementById('fname').value,
                    "last_name": document.getElementById('lname').value,
                    "email": document.getElementById('email').value,
                    "phone": document.getElementById('phone').value,
                    "information": document.getElementById('information').value,
                    "profile_img_path": base64Img
                })
                .then(response => {
                    document.getElementById('error-text').innerText = response.data.message;
                    document.getElementById('error-text').style.color = "green";
                })
                .catch(error => {
                    document.getElementById('error-text').innerText = error.message;
                })
            }
        }

        function changePassword(event) {
            if (document.getElementById('newPass').value == "") {
                document.getElementById('error-text2').innerText = "Please enter your new pass";
            } else if (document.getElementById('confirmPass').value == "") {
                document.getElementById('error-text2').innerText = "Please enter your confirm pass";
            } else if (document.getElementById('currentPass').value == "") {
                document.getElementById('error-text2').innerText = "Please enter your current pass";
            } else if (document.getElementById('newPass').value != document.getElementById('confirmPass').value) {
                document.getElementById('error-text2').innerText = "Password and Confirm Password mismatch.....";
            } else {
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.put('change_password/'+{{user.id}}, {
                    "username": event.target.value,
                    "new_password": document.getElementById('newPass').value,
                    "confirm_password": document.getElementById('confirmPass').value,
                    "old_password": document.getElementById('currentPass').value
                })
                .then(response => {
                    document.getElementById('error-text2').innerText = response.data.message;
                    document.getElementById('error-text2').style.color = "green";
                })
                .catch(error => {
                    document.getElementById('error-text2').innerText = error.message;
                })
            }
        }

        /* 
            This function takes the input value in file format and convert the data to base64 format.
        */
        function readURL(input) {
            var reader = new FileReader();
            reader.onload = function (e) {
                if (e.target.result.split("/")[0] == "data:image") {
                    base64Img = e.target.result;
                    document.getElementById('profile-information-img').style.backgroundImage = "url("+e.target.result+")";
                } else {
                    alert('Image only')
                }
            };
            reader.readAsDataURL(input.files[0]);
            console.log(base64Img);
        }
    </script>

{% endblock %}