.profile-header-container {
    position: relative;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.profile-header {
    position: relative;
    /* background-color: wheat; */
    height: fit-content;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-header-img {
    position: relative;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100em;
}

.profile-header-img img {
    position: relative;
    border-radius: 100em;
    height: 150px;
    opacity: 0;
}

.profile-header-information {
    position: relative;
    width: 400px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-header-information p,h1 {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.profile-navbar-container {
    position: relative;
    background-color: tomato;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 0.5em 0.5em 0em 0em;
    overflow: hidden;
    color: #B5B5B5;
}

.profile-navbar-container label {
    
    margin-bottom: 0;
    transition: all 0.2s;
}

.profile-navbar-container label:hover {
    background-color: #E1E1E1;
}

.profile-navbar-posts {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
}

.profile-navbar-posts p {
    margin: 10px;
    font-size: 24px;
}

.profile-navbar-edit {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: white;
}

.profile-navbar-edit p {
    margin: 10px;
    font-size: 24px;
}

#posts:checked ~ .profile-navbar-posts {
    background-color: #E1E1E1;
    cursor: pointer;
}

#edit:checked ~ .profile-navbar-edit {
    background-color: #E1E1E1;
    cursor: pointer;
}

.profile-posts-container {
    position: relative;
    background-color: #E1E1E1;
    width: 100%;
    /* height: 500px; */
    display: none;
}

.profile-edit-container {
    position: relative;
    background-color: #E1E1E1;
    width: 100%;
    height: 500px;
    display: none;
}

#posts:checked ~ .profile-posts-container {
    display: block;
}

#edit:checked ~ .profile-edit-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

.profile-edit-navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 5px #B7B7B7 solid;
}

.profile-edit-navbar label {
    position: relative;
    margin: 10px;
    border-radius: 0.5em;
    background-color: rgba(0, 128, 128, 0.514);
}

.profile-edit-navbar label:hover {
    background-color: teal;
}

.profile-edit-navbar label p {
    margin-bottom: 0;
    padding: 10px;
    color: white;
}

#profile-information:checked ~ .label-profile-information {
    background-color: teal;
}

#change-passsword:checked ~ .label-change-passsword {
    background-color: teal;
}

.profile-edit-profile-information {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

.profile-edit-change-passsword {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
}

.profile-information-container {
    position: relative;
    display: grid;
    flex-direction: row;
    padding: 50px;
    grid-template-columns: 30% 70%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.5em;
}

.profile-information-img {
    position: relative;
    padding: 20px;
    display: grid;
    align-content: center;
}

.profile-information-img div img {
    position: relative;
    width: 100%;
    border-radius: 100em;
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

.profile-information-img div {
    position: relative;
    border-radius: 100em;
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.profile-information-img label {
    position:absolute;
    cursor: pointer;
    border-radius: 100em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.profile-information-img label:hover {
    background-color: unset;
}

.profile-information label:hover {
    background-color: unset;
}

.profile-information input[type="text"] {
    border: none;
    border-bottom: #BEBEBE 3px solid;
    border-radius: unset;
}

.form-group {
    margin-top: 1rem;
}

.profile-information-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: #3CDBD7;
    border-radius: 100em;
    border: none;
}

.profile-information-btn:hover {
    background-color: #3FF182;
}

.change-passsword-container {
    position: relative;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    margin: 10px;
    border-radius: 0.5em;
}

.change-passsword-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-right: 10px;
    background-color: #3CDBD7;
    border-radius: 100em;
    border: none;
}

.change-passsword-btn:hover {
    background-color: #3FF182;
}

.change-passsword-container label:hover {
    background-color: unset;
}

.change-passsword-container input[type="text"] {
    border: none;
    border-bottom: #BEBEBE 3px solid;
    border-radius: unset;
}

.profile-posts-null {
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
    justify-content: center;
    margin: 30px;
    height: fit-content;
}

.profile-posts-null h2 {
    margin-bottom: 0;
}