{% load static %}
<style>
        .filter-container {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .category-container {
            height: 60px;
            background-color: white;
            margin: 20px;
            border-radius: 0.5em;
            display: flex;
            flex-direction: row;
        }

        .category-title {
            position: relative;
            background-color: #C7C7C7;
            padding: 10px;
            border-radius: 0.5em 0em 0em 0.5em;
        }

        .category-title div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            color: white;
        }

        .category-items {
            position: relative;
            width: 100%;
            border-radius: 0em 0.5em 0.5em 0em;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
        }

        .category-items::-webkit-scrollbar {
            height: 0px;
        }

        .category-item {
            position: relative;
            margin: 10px;
            background-color: white;
            border: gray 2px solid; 
            border-radius: 0.5em;
            z-index: 2;
            cursor: pointer;
        }

        .category-item div {
            position: relative;
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 10px;
            margin-right: 10px;
        }

        .category-checkbox {
            position: relative;
            visibility: hidden;
            position:absolute;
        }

        .category-span-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 0.3em;
            transition: all 0.2s;
        }

        .category-checkbox:checked ~ .category-span-bg {
            background-color: rgba(84, 193, 210, 0.479);
        }

        .location-status-container {
            position: relative;
            display: flex;
            flex-direction: row;
            /* flex-wrap: wrap; */
        }

        .location-container {
            position: relative;
            width: 50%;
            height: 60px;
            background-color: white;
            margin: 20px;
            border-radius: 0.5em;
            display: flex;
            flex-direction: row;
            max-width: 40%;
        }

        .location-items {
            position: relative;
            padding: 10px;
            width: 100%;
        }

        .location-items select {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .status-container {
            position: relative;
            width: 50%;
            height: 60px;
            background-color: white;
            margin: 20px;
            border-radius: 0.5em;
            display: flex;
            flex-direction: row;
            max-width: 40%;
        }

        .status-items {
            position: relative;
            width: 100%;
            border-radius: 0em 0.5em 0.5em 0em;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
        }

        .status-items::-webkit-scrollbar {
            height: 0px;
        }

        .status-item {
            position: relative;
            margin: 10px;
            background-color: white;
            border: gray 2px solid; 
            border-radius: 0.5em;
            z-index: 2;
            cursor: pointer;
        }

        .status-item div {
            position: relative;
            z-index: 3;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 10px;
            margin-right: 10px;
        }

        .status-checkbox {
            position: relative;
            visibility: hidden;
            position:absolute;
        }

        .status-span-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 0.3em;
            transition: all 0.2s;
        }

        .status-checkbox:checked ~ .status-span-bg {
            background-color: rgba(84, 193, 210, 0.479);
        }

        @media screen and (max-width: 500px) , screen and (max-height: 500px) {
            .filter-container {
                display: none;
            }
        }
    </style>
        <div class="filter-container">
            <div data-aos="zoom-in" class="category-container">
                <div class="category-title">
                    <div>
                        <span>Category</span>
                    </div>
                </div>
                <div class="category-items">
                    {% for C in dataCategory %}
                        <label data-aos="zoom-in" data-aos-delay="{{C.id}}00" for="filter-category-{{C.id}}" class="category-item">
                            <input type="checkbox" class="category-checkbox" name="category-checkbox-{{C.id}}" id="filter-category-{{C.id}}" value="{{C.id}}" onchange="category(event)">
                            <span class="category-span-bg"></span>
                            <div>
                                <p>{{C.value}}</p>
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="location-status-container">
                <div data-aos="zoom-in" data-aos-delay="100" class="location-container">
                    <div class="category-title">
                        <div>
                            <span>Location</span>
                        </div>
                    </div>
                    <div class="location-items">
                        <select class="form-control" id="filter-location">
                            <option selected>--> Location <--</option>
                            {% for L in dataLocation %}
                                <option>{{L.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <style>
                    .filter-btn-container {
                        position: relative;
                        margin: 20px;
                        width: 10%;
                    }

                    .filter-btn-container button {
                        position: relative;
                        height: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                </style>
                <div data-aos="zoom-in" data-aos-delay="200" class="filter-btn-container">
                    <button type="submit" class="btn btn-primary" style="border-radius: 0.5em" onclick="filter(event)">Search</button>
                </div>
                <div data-aos="zoom-in" data-aos-delay="200" class="status-container">
                    <div class="category-title">
                        <div>
                            <span>Status</span>
                        </div>
                    </div>
                    <div class="category-items">
                        {% for S in dataStatus %}
                            <label data-aos="zoom-in" data-aos-delay="{{S.id}}00" for="filter-status-{{S.id}}" class="status-item">
                                <input type="checkbox" class="status-checkbox" name="status-checkbox-{{S.id}}" id="filter-status-{{S.id}}" value="{{S.id}}" onchange="status(event)">
                                <span class="status-span-bg"></span>
                                <div>
                                    <p>{{S.value}}</p>
                                </div>
                            </label>
                        {% endfor %}
                    </div onclick>
                </div>
            </div>
        </div>
    <script>
        var categoryIdData = []
        var statusIdData = []
        function filter(event) {
            console.log(categoryIdData);
            console.log(document.getElementById("filter-location").value);
            console.log(statusIdData);
        }

        function category(event) {
            let categoryId = event.target.id;
            if (document.getElementById(event.target.id).checked == true) {
                categoryIdData.push(event.target.value);
            } else {
                categoryIdData.splice(categoryIdData.indexOf(event.target.value), 1)
            }
        }

        function status(event) {
            let statusId = event.target.id;
            if (document.getElementById(statusId).checked == true) {
                statusIdData.push(event.target.value);
            } else {
                statusIdData.splice(statusIdData.indexOf(event.target.value), 1)
            }
        }
    </script>