{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/filter.css' %}">
    </head>
        <div class="filter-container">
            <div data-aos="zoom-in" class="category-container">
                <div class="category-title">
                    <div>
                        <span>Category</span>
                    </div>
                </div>
                <div class="category-items">
                    {% for C in dataCategory %}
                        <label data-aos="zoom-in" data-aos-delay="{{C.id}}00" for="filter-category-{{C.id}}" class="category-item">
                            <input type="checkbox" class="category-checkbox" name="category-checkbox-{{C.id}}" id="filter-category-{{C.id}}" value="{{C.id}}" onchange="category(event)">
                            <span class="category-span-bg"></span>
                            <div>
                                <p>{{C.value}}</p>
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="location-status-container">
                <div data-aos="zoom-in" data-aos-delay="100" class="location-container">
                    <div class="category-title">
                        <div>
                            <span>Location</span>
                        </div>
                    </div>
                    <div class="location-items">
                        <select class="form-control" id="filter-location">
                            <option selected>--> Location <--</option>
                            {% for L in dataLocation %}
                                <option>{{L.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <style>
                    .filter-btn-container {
                        position: relative;
                        margin: 20px;
                        width: 10%;
                    }

                    .filter-btn-container button {
                        position: relative;
                        height: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                </style>
                <div data-aos="zoom-in" data-aos-delay="200" class="filter-btn-container">
                    <button type="submit" class="btn btn-primary" style="border-radius: 0.5em" onclick="filter(event)">Search</button>
                </div>
                <div data-aos="zoom-in" data-aos-delay="200" class="status-container">
                    <div class="category-title">
                        <div>
                            <span>Status</span>
                        </div>
                    </div>
                    <div class="category-items">
                        {% for S in dataStatus %}
                            <label data-aos="zoom-in" data-aos-delay="{{S.id}}00" for="filter-status-{{S.id}}" class="status-item">
                                <input type="checkbox" class="status-checkbox" name="status-checkbox-{{S.id}}" id="filter-status-{{S.id}}" value="{{S.id}}" onchange="status(event)">
                                <span class="status-span-bg"></span>
                                <div>
                                    <p>{{S.value}}</p>
                                </div>
                            </label>
                        {% endfor %}
                    </div onclick>
                </div>
            </div>
        </div>
    <script>
        var categoryIdData = []
        var statusIdData = []
        function filter(event) {
            console.log(categoryIdData);
            console.log(document.getElementById("filter-location").value);
            console.log(statusIdData);
        }

        function category(event) {
            let categoryId = event.target.id;
            if (document.getElementById(event.target.id).checked == true) {
                categoryIdData.push(event.target.value);
            } else {
                categoryIdData.splice(categoryIdData.indexOf(event.target.value), 1)
            }
        }

        function status(event) {
            let statusId = event.target.id;
            if (document.getElementById(statusId).checked == true) {
                statusIdData.push(event.target.value);
            } else {
                statusIdData.splice(statusIdData.indexOf(event.target.value), 1)
            }
        }
    </script>