{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/filter.css' %}">
    </head>
    <form action="{% url 'index' %}" method="GET">
        <div class="filter-container">
            <style>
                .category-by-container {
                    position: relative;
                    display: grid;
                    grid-template-columns: 50% 50%;
                }
            </style>
            <div class="category-by-container">
                <div data-aos="zoom-in" class="category-container">
                    <div class="category-title">
                        <div>
                            <span>Category</span>
                        </div>
                    </div>
                    <div class="location-items">
                        <select class="form-control" id="filter-category" name="filter-category">
                            <option value="" selected>--> Category <--</option>
                        {% for C in dataCategory %}
                            <option value="{{C.id}}">{{C.name}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                 <div data-aos="zoom-in" data-aos-delay="100" class="category-container">
                    <div class="category-title">
                        <div>
                            <span>Search By</span>
                        </div>
                    </div>
                    <div class="location-items">
                        <select class="form-control" id="filter-search-by" name="filter-search-by" onchange="search_by(event)" required>
                            <option value="" selected>--> By <--</option>
                            <option value="Category">Category</option>
                            <option value="Location">Location</option>
                            <option value="Status">Status</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="location-status-container">
                <div data-aos="zoom-in" data-aos-delay="100" class="location-container">
                    <div class="category-title">
                        <div>
                            <span>Location</span>
                        </div>
                    </div>
                    <div class="location-items">
                        <select class="form-control" id="filter-location" name="filter-location">
                            <option value="" selected>--> Location <--</option>
                            {% for L in dataLocation %}
                                <option value="{{L.id}}">{{L.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <style>
                    .filter-btn-container {
                        position: relative;
                        margin: 20px;
                        width: 10%;
                    }

                    .filter-btn-container button {
                        position: relative;
                        height: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                </style>
                <div data-aos="zoom-in" data-aos-delay="200" class="filter-btn-container">
                        <button type="submit" class="btn btn-primary" style="border-radius: 0.5em" onclick="filter(event)">Search</button>
                </div>
                <div data-aos="zoom-in" data-aos-delay="200" class="status-container">
                    <div class="category-title">
                        <div>
                            <span>Status</span>
                        </div>
                    </div>
                    <div class="location-items">
                        <select class="form-control" id="filter-status" name="filter-status">
                            <option value="" selected>--> Location <--</option>
                            <option>Found</option>
                            <option>Lost</option>
                            <option>Returned</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function search_by(event) {
            if (event.target.value == "Category") {
                document.getElementById('filter-category').setAttribute("required", "");
                document.getElementById('filter-location').removeAttribute("required");
                document.getElementById('filter-status').removeAttribute("required");
            } else if (event.target.value == "Location") {
                document.getElementById('filter-category').removeAttribute("required");
                document.getElementById('filter-location').setAttribute("required", "");
                document.getElementById('filter-status').removeAttribute("required");
            } else if (event.target.value == "Status") {
                document.getElementById('filter-category').removeAttribute("required");
                document.getElementById('filter-location').removeAttribute("required");
                document.getElementById('filter-status').setAttribute("required", "");
            }
        }
    </script>