{% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/newPost.css' %}">
    </head>
    <label for="new-post-checkbox" class="close-new-post-label"></label>
    <div class="new-post-form">
        <div class="drag-and-drop-container">
            <div style="position: relative; border: 3px dashed white; height: 100%; border-radius: 0.5em;" id="myDropzone">
                <img src='#' id='base64Img' style='display: none;'>
                <input type='file' name='dropzone' id='dropzone' onchange="readURL(this)" required/>
            </div>
        </div>
        <div class="new-post-form-detail">
            <div class="from-category">
                <div class="form-category-title">
                    <div>
                        <span>Category</span>
                    </div>
                </div>
                <div class="form-category-items">
                    {% for C in dataCategory %}
                        <label data-aos="zoom-in" data-aos-delay="{{C.id}}00" for="new-post-form-category-{{C.id}}" class="form-category-item">
                            <input type="checkbox" class="form-category-checkbox" name="form-category-checkbox-{{C.id}}" id="new-post-form-category-{{C.id}}" value="{{C.id}}" onchange="category(event)">
                            <span class="form-category-span-bg"></span>
                            <div>
                                <p>{{C.value}}</p>
                            </div>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div class="location-status-container">
                <div class="form-location">
                    <div class="form-category-title">
                        <div>
                            <span>Location</span>
                        </div>
                    </div>
                    <div class="form-location-items">
                        <select class="form-control" name="new-post-form-location" id="new-post-form-location">
                            <option selected>--> Location <--</option>
                            {% for L in dataLocations %}
                                <option value="{{L.value}}">{{L.value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-status">
                    <div class="form-category-title">
                        <div>
                            <span>Status</span>
                        </div>
                    </div>
                    <div class="form-location-items">
                        <select class="form-control" name="new-post-form-status" id="new-post-form-status">
                            <option selected>--> Status <--</option>
                            <option value="Lost">Lost</option>
                            <option value="Found">Found</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-des">
                <div class="form-des-title">
                    <div>
                        <span>Description</span>
                    </div>
                </div>
                <div class="form-des-detail">
                    <textarea class="form-control" id="new-post-form-description" rows="3"></textarea>
                </div>
            </div>
            <div class="new-post-form-submit-btn">
                <div>
                    <button type="submit" class="btn btn-primary" style="border-radius: 100em; width: 100px;" onclick="sendNewPost()">Post</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let newPostCategoryIdData = [];
        let base64Img = [];

        function sendNewPost(event) {
            console.log(newPostCategoryIdData);
            console.log(document.getElementById('new-post-form-location').value);
            console.log(document.getElementById('new-post-form-status').value);
            console.log(document.getElementById('new-post-form-description').value);
            console.log(base64Img);
        }

        function readURL(input) {
            var reader = new FileReader();
            reader.onload = function (e) {
                if (e.target.result.split("/")[0] == "data:image") {
                    document.getElementById('base64Img').src = e.target.result;
                    document.getElementById('base64Img').style.display = 'unset';
                    base64Img.push(e.target.result)
                } else {
                    alert('Image only')
                    document.getElementById('dropzone').remove();
                    document.getElementById('myDropzone').innerHTML = 
                    "<img src='#' id='base64Img' style='display: none;'><input type='file' name='dropzone' id='dropzone' onchange='readURL(this)' required/>";
                }
            };
            reader.readAsDataURL(input.files[0]);
        }

        function category(event) {
            let categoryId = event.target.id;
            if (document.getElementById(event.target.id).checked == true) {
                newPostCategoryIdData.push(event.target.value);
            } else {
                newPostCategoryIdData.splice(newPostCategoryIdData.indexOf(event.target.value), 1)
            }
        }
    </script>