    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    </head>
    <div data-aos="zoom-in" class="post-container">
        <div class="post-bar-container">
            <div style="display: flex; flex-direction: row;">
                <a href="{% url 'profile' %}" class="post-profile-container" style="text-decoration: none;">
                    <div style="position: relative;">
                        <div class="profile-img" style="background-image: url({{data.user.profile_img}})"></div>
                        <img class="post-profile-img" style="border-radius: 100%;"  src="{% static 'images/icon.webp' %}">
                    </div>
                    <div class="post-profile-name">
                        <p>{{data.user.first_name}} {{data.user.last_name}}</p>
                    </div>
                </a>
                <div class="post-date-container">
                    <div class="post-date-img">
                        <img style="border-radius: 100%;"  src="{% static 'images/clock.png' %}">
                    </div>
                    <div class="post-date-text">
                        <p>{{data.create_at}}</p>
                    </div>
                </div>
            </div>
            {% comment %} <div class="post-more-menu-container">
                <label for="post-more-menu-btn-{{data.id}}" class="post-date-container" style="cursor: pointer;">
                    <div class="post-date-img">
                        <img style="border-radius: 100%;"  src="{% static 'images/more.png' %}">
                    </div>
                </label>
                <input type="checkbox" class="post-more-menu-btn" id="post-more-menu-btn-{{data.id}}" style="position: absolute; visibility: hidden;">
                <div class="post-more-menu-items">
                    <a href="#" style="text-decoration: none;">
                        <div class="post-more-menu-item">
                            <img src="{% static 'images/edit.png' %}">
                            <p style="margin-bottom: 0; width: 100%; text-align: center;">Edit</p>
                        </div>
                    </a>
                    <a href="#" style="text-decoration: none;">
                        <div class="post-more-menu-item">
                            <img src="{% static 'images/delete.png' %}">
                            <p style="margin-bottom: 0; width: 100%; text-align: center;">Delete</p>
                        </div>
                    </a>
                </div>
            </div> {% endcomment %}
        </div>
        <div data-aos="zoom-in" data-aos-delay="250" class="post-img-container">
            <div id="carousel-{{data.id}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" id="carousel-inner-{{data.id}}">
                    {% for I in data.images %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{I.image}}" alt="First slide">
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{I.image}}" alt="First slide">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-{{data.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{data.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="post-detail-container">
            <div class="post-detail">
                <div class="post-category-items" style="max-width: 200px; height: 50px;">
                    {% for C in data.categoty %}
                        <div class="post-detail-category-items">
                            <p >{{C}}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="post-date-container">
                    <div class="post-date-img">
                        <img style="border-radius: 100%;"  src="{% static 'images/location.png' %}">
                    </div>
                    <div class="post-date-text">
                        <p>{{data.location}}</p>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" style=
                "
                    border-radius: 100em;
                    width: 100px; 
                    position: relative; 
                    top: 50%;
                    transform: translateY(-50%);
                    font-weight: bold;
                    background-color: red;
                    border: unset;
                " 
                disabled>{{data.status}}</button>
            </div>
        </div>
        <div class="post-description">
            <h3>Title: {{data.title}}</h3>
            <p>
                Description: {{data.description}}
            </p>
        </div>
        <input type="checkbox" id="show-comment-{{data.id}}" value="{{data.id}}" class="show-comment" style="position: absolute; visibility: hidden;" onchange="scrollOnbuttom(event)">
        <div class="post-comment-detail" id="post-comment-detail-{{data.id}}">
            {% for C in data.comments %}
            <div class="post-comment">
                <a href="{% url 'profile' %}" class="post-profile-container" style="text-decoration: none; width: fit-content;">
                    <div style="position: relative;">
                        <div class="profile-img" style="background-image: url({{C.user.profile_img}})"></div>
                        <img class="post-profile-img" style="border-radius: 100%;"  src="{% static 'images/icon.webp' %}">
                    </div>
                    <div class="post-profile-name">
                        <p>{{C.user.first_name}} {{C.user.last_name}}</p>
                    </div>
                </a>
                <div class="post-comment-description">
                    <p style="margin: 0px">
                        {{C.text}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="post-comment-container">
            <div style="width: 100%;">
                <input type="text" class="form-control" style="border-radius: 100em; width: 100%;" name="post-comment" id="{{data.id}}" placeholder="Enter comment" onkeypress="sendComment(event)">
            </div>
            <div>
                <label style="border-radius: 100em; margin-left: 10px; margin-bottom: 0; min-width: 149px" class="btn btn-primary" for="show-comment-{{data.id}}">Show comment</label>
            </div>
        </div>
        <script>
            function sendComment(event) {
                if (event.code == "Enter") {
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                    axios.post('api/v1/comment', {
                        'user_id': {{user.id}},
                        'post_id': Number(event.target.id),
                        'text': event.target.value
                    })
                    .then(response => {
                        console.log(response)
                        if (response.data.statusCode == 201) {
                            window.location.href = '/post/'+event.target.id;
                        } else {
                            event.target.value = response.data.message
                        }
                    })
                    .catch(error => {
                        console.log(error)
                        event.target.value = error.message
                    })
                }
            }

            function scrollOnbuttom(event) {
                setTimeout(function(e){
                    var postCommentDetail = document.getElementById("post-comment-detail-"+event.target.value);
                    postCommentDetail.scrollTop = postCommentDetail.scrollHeight;
                }, 1);
            }
        </script>
    </div>