{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <style>
        body {
            background-color: #54C1D2;
        }

        label {
            width: 150px;
            display: inline-block;
            text-align: left;
            font-weight: bold;
        }

        .input-style {
            border: 0;
            border-radius: unset;
            border-bottom: #BEBEBE 3px solid;
        }

        .btn {
            border-radius: 100em;
            width: 100px;
        }
    </style>
    <div class="container bg-white"
        style="width: 60%; text-align: center; margin-top: 50px; padding: 10px; border-radius: 8px;">
        <form>
            <h3 style="font-weight: bold;">Reset Password</h3>
            <p>We have sent OTP through your email. Please enter OTP and your new password.</p>
            <div style="width: 50%; display: block; margin: auto;">
                <label for="otp">OTP</label><input class="input-style" type="text" id="inputOtp" name="inputOtp"
                    placeholder="OTP" required="true"><br>
                <label for="newPass">New Password</label><input class="input-style" type="password" id="newPass"
                    name="newPass" placeholder="Password" required="true"><br>
                <label for="confirmPass">Confirm Password</label><input class="input-style" type="password" id="conPass"
                    name="conPass" placeholder="Password" required="true">
            </div><br>
            <small>Didn't receive the OTP? <a href="#" style="text-align: right;">Resend OTP</a></small><br><br>
            <div style="text-align: right;">
                <a href="{% url 'forgotPass' %}" class="btn btn-outline-secondary">Cancel</a>
                <button type="submit" class="btn btn-info">Reset</button>
            </div>
        </form>
    </div>
</body>

</html>